@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


:root {
    --font-base: 'Poppins', sans-serif;
    --font-alt: 'Open Sans', sans-serif;
    
    --color-primary: #6E01CE;
    --color-secondary: #ADFFE1;
    --color-black: #0C0C0C;
    --color-white: #FFFFFF;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ADFFE1;
}

.mobileLogo img,
.mobileHamburger,
.mobile__paymentGateways,
.mobile__heroSection__text {
    display: none;
}

.mobileLogo img {
    padding-top: 2rem;
    width: 7.5rem;
}

.heroSection__wrapper {
    max-width: 1600px;
    margin: auto;
    background-image: url("images/BannerImage.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.heroSection__content {
    max-width: 80%;
    margin: auto;
}
.heroSection__nav {
    padding-top: 20%;
}
.heroSection__nav--links {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1.8rem;
    list-style: none;
}
.heroSection__nav--links a {
    text-transform: uppercase;
    color: var(--color-primary);
    text-decoration: none;
    font-family: var(--font-base);
    font-size: 1rem;
    font-weight: 400;
}
.heroSection__nav--links a:hover {
    border-bottom: 2px solid var(--color-white);
    font-weight: 600;
}


.heroSection__text {
    text-align: left;
}
.heroSection__text--primary {
    padding: 3.5rem 0 .7rem;
    font-size: 3rem;
    color: var(--color-white);
    font-weight: 700;
}
.heroSection__text--secondary {
    font-size: 1rem;
    color: var(--color-white);
    line-height: 1.6;
}

.heroSection__button--COA button {
    margin: 2.5rem 0 8rem;
    padding: 1.2rem 2rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    text-transform: uppercase;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    font-size: .9rem;
    font-weight: 900;
}


.heroSection__banner {
    background-color: var(--color-white);
    padding: 2rem 1rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    max-width: 62.5rem;
    margin: auto;
    margin-top: -50px;
}
.heroSection__banner--main h2 {
    padding: .7rem 0 1rem;
    text-align: center;
    color: var(--color-primary);
    font-size: 2rem;
    font-weight: 900;
}
.heroSection__banner--category {
    display: flex;
    align-items: center;
    gap: 2rem;
    max-width: 85%;
    margin: auto;
}
.heroSection__banner--categoryItem {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.heroSection__banner--categoryItem div {
    background-color: var(--color-primary);
    padding: 1rem 1.5rem;
    color: var(--color-white);
    font-size: 1.3rem;
    font-weight: 900;
    flex: 1;
}
.heroSection__banner--categoryItem p {
    color: var(--color-black);
    font-size: .8rem;
    padding-bottom: 2.2rem;
}
.heroSection__banner--interceptor {
    width: 3px;
    height: 6rem;
    opacity: 0.5;
    background-color: var(--color-black);
}


.host {
    background-image: linear-gradient(#ADFFE1, #22003D);
}

.aboutSection__main {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    margin: auto;
    padding: 2rem 0;
}

.aboutSection__main__image{
    width: 60%;
    background: none;
    margin-left: -19%;
}
.aboutSection__main h1 {
    color: var(--color-primary);

}
.aboutSection__main__text {
    padding: 1rem 1.5rem;
    border-radius: 0 1.3rem 1.3rem 0;
    width: 40%;
    background-color: var(--color-primary);
    line-height: 1.4;
    margin-left: -9%;
}
.aboutSection__main__text p {
    padding: 1rem 0;
    color: var(--color-white);
}
.aboutSection__main img {
    width: 120%;
}


.bannerSection__wrapper {
    background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(27, 27, 27)),url("images/Woman.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.bannerSection__content {
    max-width: 1200px;
    margin: auto;
    padding: 1.5rem;
}
.bannerSection__content h1 {
    color: var(--color-white);
    font-family: var(--font-base);
    font-weight: 800;
    font-size: 3.8rem;
    padding: 2rem 0;
}
.bannerSection__content ul {
    display: flex;
    align-items: center;
    gap: 1.7rem;
    text-transform: uppercase;
    color: var(--color-white);
    font-size: 1.4rem;
    font-weight: 400;
}
.bannerSection__content--active {
    list-style: none;
}

.bannerSection__content button {
    margin: 3rem 0;
    padding: 1rem 2.6rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    text-transform: uppercase;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    font-size: .9rem;
    font-weight: 900;
}


.featureSection__wrapper {
    padding: 2rem 0;
    max-width: 1100px;
    margin: auto;
}

.x {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 6rem 2rem;
}

.x button {
    padding: 1rem 2.6rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    text-transform: uppercase;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    font-size: .9rem;
    font-weight: 900;
}

.featureSection__categories--primary,
.featureSection__categories--secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    color: var(--color-white);
    padding: 2rem;
}

.featureSection__categories--interceptor {
    width: 1.5px;
    background-color: var(--color-white);
    height: 12.5rem;
    opacity: 0.5;
}

.c {
    flex: 1;
}

.featureSection__categories--img {
    margin: 1rem 0;
    padding: 1rem 3rem;
    width: 30%;
    background-color: var(--color-primary);
    color: var(--color-white);
    display: flex;
    justify-content: center;
}




.paymentGateways__wrapper {
    background-color: var(--color-white);
    padding: 4rem 0;
}
.paymentGateways__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}
.paymentGateways__content--interceptor {
    width: 1.5px;
    background-color: var(--color-black);
    height: 7rem;
    opacity: 0.5;
}


.newsletterSection__wrapper {
    padding: 10rem 0 6rem;
}
.newsletterSection__content {
    display: flex;
    justify-content: center;
    align-items: center;
}
fieldset {
    border: 2px solid var(--color-white);
    padding: 2rem 3rem;
    color: var(--color-white);
    width: 50%;
}
legend {
    text-align: center;
    font-size: 2.3rem;
    font-weight: 800;
}

.newsletterSection__content h4 {
    padding: 1rem 0 2rem;
    text-align: center;
}

.newsletterSection__input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.newsletterSection__input input {
    padding: 1rem;
    width: 55%;
    outline: none;
    border: none;
}
.newsletterSection__input button {
    padding: 1rem 3rem;
    border-radius: 0 .5rem .5rem 0;
    outline: none;
    border: none;
    text-transform: uppercase;
    color: white;
    background-color: var(--color-primary);
    font-weight: 700;
    cursor: pointer;
}


.footerSection__content {
    padding: 4rem 0;
}
.footerSection__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.footerSection__interceptor {
    width: 1.5px;
    background-color: var(--color-white);
    height: 7rem;
    opacity: 0.5;
}
.footerSection__content--one div, p {
    padding: 1rem 0;
    color: var(--color-white);
}
.footerSection__content--two span {
    color: var(--color-primary);
}
.footerSection__content--three p {
    font-size: 1.13rem;
    color: var(--color-primary);
}
.footerSection__content--three div {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.footerSection__content--three img {
    width: 1.7rem;
    cursor: pointer;
}
.mobileCopyright {
    display: none;
    text-align: center;
    font-size: 1rem;
    color: var(--color-white);
}














@media only screen and (max-width: 767px) {
    .mobileLogo, .mobileHamburger {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mobileLogo img {
        display: block;
    }
    .mobileHamburger {
        justify-content: left;
    }
    .heroSection__nav {
        padding-top: 3rem;
    }
    .heroSection__banner {
        border-radius: 0;
    }
    .heroSection__nav--links,
    .heroSection__banner--interceptor,
    .footerSection__content--one p {
        display: none;
    }
    .heroSection__banner--category,
    .heroSection__banner--categoryItem {
        flex-direction: column;
    }
    .heroSection__banner--main h2 {
        padding: .7rem 1rem 1.9rem;
        text-align: center;
        font-size: 1.4rem;
        font-weight: 700;
    }
    .heroSection__banner--categoryItem p {
        text-align: center;
        font-weight: 600;
    }
    .aboutSection__main {
        flex-direction: column;
    }
    .aboutSection__main__image,
    .aboutSection__main__image img, 
    .aboutSection__main__text{
        width: 100%;
    }
    .aboutSection__main__image {
        margin-left: 0;
    }
    .aboutSection__main__text p {
        padding-left: 2rem;
        font-size: .87rem;
    }
    .bannerSection__content {
        padding: 1.5rem 2.5rem;
    }
    .bannerSection__content h1 {
        font-size: 3rem;
        padding: 1.4rem 0;
    }
    .bannerSection__content ul {
        font-size: 1rem;
    }
    .featureSection__categories--primary,
    .featureSection__categories--secondary {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .featureSection__categories--primary h2,
    .featureSection__categories--secondary h2{
        font-size: 1.2rem;
    }
    .featureSection__categories--primary p,
    .featureSection__categories--secondary p{
        font-size: .8rem;
    }
    .featureSection__categories--interceptor,
    .footerSection__interceptor {
        display: none;
    }
    .footerSection__content,
    .newsletterSection__input,
    .paymentGateways__content {
        flex-direction: column;
    }
    .paymentGateways__wrapper {
        padding: 2rem 0;
    }
    .paymentGateways__content--interceptor {
        width: 8.5rem;
        height: 2px;
    }
    fieldset {
        border: none;
        width: 100%;
        padding: 0 2rem 1rem;
    }
    legend {
        font-size: 1.4rem;
    }
    .newsletterSection__content h4 {
        font-size: .8rem;
        font-weight: 500;
    }
    .newsletterSection__input input {
        width: 100%;
    }
    .newsletterSection__input button {
        padding: 1rem;
        border-radius: 0;
        width: 100%;
        margin-top: 2.4rem;
    }
    .x img {
        width: 20px;
    }
    .footerSection__content {
        gap: 2.6rem;
    }
    .footerSection__content--three {
        display: flex;
        align-items: center;
        gap: .5rem;
        flex-direction: column;
    }
    .footerSection__content--three img {
        width: 2.3rem;
    }
    .mobileCopyright {
        display: block;
    }
}